name: Python CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches-ignore: [ "main" ]

jobs:
  quality-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest flake8
          pip install -r requirements.txt

      - name: Lint (unused imports + fatal errors)
        run: |
          flake8 . \
            --select=F401,F841,E9,F63,F7,F82 \
            --show-source \
            --statistics

      - name: Run tests
        run: |
          pytest